body{
  color: #262626;
  background-color: #cfbaaf;
  background-image: url(../img/about/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 150%;
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: quicksand;
    src: url(../fonts/Quicksand/Quicksand-Regular.otf);
}

@font-face {
    font-family: quicksand;
    src: url(../fonts/Quicksand/Quicksand-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: bebas;
    src: url(../fonts/BEBAS.ttf);
}

@font-face {
    font-family: langdon;
    src: url(../fonts/Langdon.otf);
}

/*/////////////////
menu styles
/////////////////*/
#menu {
  background-color: rgba(200, 200, 200, 0.5);
  padding: 5px;
  text-shadow: 2px 2px 5px black;
}

#menu ul{
  text-align: right;
}

#menu li{
  display: inline-block;
  padding-right: 5%;
}

#menu a{
  font-family: quicksand;
  position: relative;
  text-decoration: none;
  color: inherit;
}

#menu .page:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #4d4d4d;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#menu .page:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#current{
  cursor: pointer;
}

#current:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #4d4d4d;
}

/*/////////////////
section styles
/////////////////*/
#callout{
  font-family: quicksand;
  font-weight: bold;
  font-size: 100%;
  text-align: center;
  /*color: #cc6699;*/
  color: white;
  text-shadow: 2px 2px 5px black;
  padding-left: 10%;
  padding-right: 10%;
  opacity: 0;

  -webkit-animation:fadein ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadein ease-in 1;
  animation:fadein ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;

  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  animation-delay: .1s;
}


.section {
  padding-left: 3%;
  padding-right: 3%;
  background-color: rgba(200, 200, 200, 0.5);
  border-radius: 2px;
  font-family: quicksand;
}

.section h1{
  padding-top: 2%;
  font-family: langdon;
}

.section p{
  padding-bottom: 2%;
}

.wrapper{
  padding-left: 30%;
  padding-right: 30%;
  opacity: 0;

  -webkit-animation:slide-fadein 1;  /* call our keyframe named fadeIn, and repeat it only 1 time */
  -moz-animation:slide-fadein 1;
  animation:slide-fadein 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:.7s;
  -moz-animation-duration:.7s;
  animation-duration:.7s;
}

.wrapper:nth-of-type(2){
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  animation-delay: .3s;
}

.wrapper:nth-of-type(3){
  -webkit-animation-delay: .6s;
  -moz-animation-delay: .6s;
  animation-delay: .6s;
}

/*//////////////////
keyframes
//////////////////*/

@-webkit-keyframes slide-fadein {
  from {
    padding-left:25%;
    padding-right: 35%;
    opacity: 0;
  }
  to {
    padding-left: 30%;
    padding-right: 30%;
    opacity:1;
  }
}

@-moz-keyframes slide-fadein {
  from {
    padding-left:25%;
    padding-right: 35%;
    opacity: 0;
  }
  to {
    padding-left: 30%;
    padding-right: 30%;
    opacity:1;
  }
}

@keyframes slide-fadein {
  from {
    padding-left:25%;
    padding-right: 35%;
    opacity: 0;
  }
  to {
    padding-left: 30%;
    padding-right: 30%;
    opacity:1;
  }
}

@-webkit-keyframes fadein {
  from {opacity: 0;}
  to {opacity:1;}
}

@-moz-keyframes fadein {
  from {opacity: 0;}
  to {opacity:1;}
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity:1;}
}
