body{
  color: #4d4d4d;
  background-color: #cfbaaf;
  background-size: cover;
  background-image: url(../img/project/background.jpg);
  font-size: 150%;
  font-family: quicksand;
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: quicksand;
    src: url(../fonts/Quicksand/Quicksand-Regular.otf);
}

@font-face {
    font-family: quicksand;
    src: url(../fonts/Quicksand/Quicksand-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: bebas;
    src: url(../fonts/BEBAS.ttf);
}

@font-face {
    font-family: langdon;
    src: url(../fonts/Langdon.otf);
}

/*/////////////////
menu styles
/////////////////*/
#menu {
  background-color: rgba(200, 200, 200, 0.5);
  padding: 5px;
  text-shadow: 2px 2px 5px black;
}

#menu ul{
  text-align: right;
}

#menu li{
  display: inline-block;
  padding-right: 5%;
}

#menu a{
  font-family: quicksand;
  position: relative;
  text-decoration: none;
  color: inherit;
}

#menu .page:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #4d4d4d;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#menu .page:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#current{
  cursor: pointer;
}

#current:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #4d4d4d;
}

/*/////////////////
section styles
/////////////////*/
.section{
  margin-top: 25px;
  background-color: rgba(200, 200, 200, 0.5);
  border-radius: 5px;
  position: relative;
  text-align: center;
  padding-bottom: 2%;
  padding-top: .5%;
}

.section p{
  margin-left: 15%;
  margin-right: 10%;
}

.section a{
  background-color: rgba(64, 64, 64, 0.5);
  text-align: center;
  padding: 5px;
  text-decoration: none;
  color: #d9d9d9;
  transition: .3s;
}

.section a:hover{
  background-color: rgba(80, 80, 80, 0.80);
}

/*//////////////////
animations
//////////////////*/
.wrapper{
  padding-left: 20%;
  padding-right: 20%;
}

.wrapper:nth-of-type(2){
  opacity: 0;

  -webkit-animation:slide-fadein 1;  /* call our keyframe named fadeIn, and repeat it only 1 time */
  -moz-animation:slide-fadein 1;
  animation:slide-fadein 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:.7s;
  -moz-animation-duration:.7s;
  animation-duration:.7s;

  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  animation-delay: .3s;
}

/*//////////////////
keyframes
//////////////////*/

@-webkit-keyframes slide-fadein {
  from {
    padding-left:25%;
    padding-right: 35%;
    opacity: 0;
  }
  to {
    padding-left: 20%;
    padding-right: 20%;
    opacity:1;
  }
}

@-moz-keyframes slide-fadein {
  from {
    padding-left:15%;
    padding-right: 25%;
    opacity: 0;
  }
  to {
    padding-left: 20%;
    padding-right: 20%;
    opacity:1;
  }
}

@keyframes slide-fadein {
  from {
    padding-left:15%;
    padding-right: 25%;
    opacity: 0;
  }
  to {
    padding-left: 20%;
    padding-right: 20%;
    opacity:1;
  }
}
